@model Publicaciones.Application.DTO.Publishers.PublisherDtoGetAll

@{
    ViewData["Title"] = "Details";
    // Layout = "~/Views/_ViewImports.cshtml";
}

<div class="col-6 offset-3 mt-3" style="font-family:'Times New Roman', Times, serif">
    <div class="card">
        <div class="card-header" style="width:600px">
            <h4>Publisher Details</h4>
            <hr/>
        </div>
        <div class="card-body">
            <dl class="row">

                <dt class="col-sm-3">Publisher Name:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.PubName)</dd>

                <dt class="col-sm-3">City:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.City)</dd>

                <dt class="col-sm-3">State:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.State)</dd>

                <dt class="col-sm-3">Country:</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Country)</dd>

            </dl>
        </div>
        <div class="card-footer">
            @Html.ActionLink("Details", "Details", new { id = Model.PubID }, new { @class = "btn btn-primary" }) |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>



