@model Publicaciones.Application.Dtos.Pub_Info.Pub_InfoDtoGetAll

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pub_InfoDtoGetAll</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubInfoID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubInfoID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PubId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PubId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pr_Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pr_Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChangeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChangeDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PubInfoID }) |
    <a asp-action="Index">Back to List</a>
</div>
