@model IEnumerable<Publicaciones.Web.Models.Responses.Discount.DiscountViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Discounts</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiscountType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StoreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LowQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiscountAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LowQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.DiscountID }) |
                @Html.ActionLink("Details", "Details", new { id=item.DiscountID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DiscountID }) |
            </td>
        </tr>
}
    </tbody>
</table>
