@model Publicaciones.Web.Models.Responses.Sale.SaleViewResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StoreID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StoreID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdNum)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdNum)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrdDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrdDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Payterms)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Payterms)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TitleID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TitleID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { storeID = Model.StoreID, ordNum = Model.OrdNum, titleID = Model.TitleID }) |
    <a asp-action="Index">Back to List</a>
</div>