@model IEnumerable<Publicaciones.Web.Models.Responses.Sale.SaleViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Sales</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Payterms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TitleID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StoreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Payterms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TitleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { storeID = item.StoreID, ordNum = item.OrdNum, titleID = item.TitleID }) |
                    @Html.ActionLink("Details", "Details", new { storeID = item.StoreID, ordNum = item.OrdNum, titleID = item.TitleID }) |
                    @Html.ActionLink("Delete", "Delete", new { storeID = item.StoreID, ordNum = item.OrdNum, titleID = item.TitleID })
            </td>
        </tr>
}
    </tbody>
</table>
