@model Publicaciones.Web.Models.Response.TitleAuthorResponse.TitleAuthorViewResponse

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TitleAuthorViewResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.au_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.au_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.au_Ord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.au_Ord)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.royaltyPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.royaltyPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idModifiedUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idModifiedUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modifiedDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { au_ID = Model.au_ID, title_id = Model.title_ID }) |
    <a asp-action="Index">Back to List</a>
</div>
