@model IEnumerable<Publicaciones.Web.Models.Response.TitleAuthorResponse.TitleAuthorViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Title-Authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Author ID
            </th>
            <th>
                Title ID
            </th>
            <th>
                Author Ord
            </th>
            <th>
                Royalty Per
            </th>
            <th>
                Change User
            </th>
            <th>
                Change Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.au_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.title_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.au_Ord)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.royaltyPer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changeUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.changeDate)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {au_id=item.au_ID, title_id = item.title_ID}) |
                    @Html.ActionLink("Details", "Details", new {au_id=item.au_ID, title_id = item.title_ID}) |
                        @Html.ActionLink("Delete", "Delete", new {au_id=item.au_ID, title_id = item.title_ID}) 
            </td>
        </tr>
}
    </tbody>
</table>
