@model IEnumerable<Publicaciones.Application.DTO.Jobs.JobsDtoGetAll>

@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/_ViewImports.cshtml";
}
<body class="text-center col-6 offset-3" style="font-family:'Times New Roman', Times, serif">
    <p>
        <a asp-action="Create" class="btn btn-secondary btn-dark">Create New Job</a>
    </p>

    <div class="card">
        <div class="card-header" style="background-color:lightgray">
            <h4 class="text-center fw-bold">List of Jobs</h4>
            <hr />
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JobDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Minlvl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Maxlvl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ChangeDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Minlvl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Maxlvl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ChangeDate)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { ID = item.JobID }, new { @class = "btn btn-outline-primary" }) |
                            @Html.ActionLink("Details", "Details", new { ID = item.JobID }, new { @class = "btn btn-outline-success" }) |
                            @Html.ActionLink("Delete", "Delete", new { ID = item.JobID }, new { @class = "btn btn-outline-danger" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>