@model Publicaciones.Web.Models.Responses.RoySched.RoySchedViewResult

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RoySchedDtoGetAll</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title_ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Royalty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Royalty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HiRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HiRange)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoySched_ID }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.RoySched_ID }) |
    <a asp-action="Index">Back to List</a>
</div>
