@model IEnumerable<Publicaciones.Web.Models.Responses.RoySched.RoySchedViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>RoyScheds</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Royalty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiRange)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Royalty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HiRange)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.RoySched_ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.RoySched_ID })
                @Html.ActionLink("Delete", "Delete", new { id = item.RoySched_ID })
            </td>
        </tr>
}
    </tbody>
</table>
