@model IEnumerable<Publicaciones.Web.Models.Response.AuthorsViewResult>

@{
    ViewData["Title"] = "Index";
}

<h1>Authors</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                ZIP
            </th>
            <th>
                Contract
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.au_FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.au_LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contract)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.au_ID }) |
                @Html.ActionLink("Details", "Details", new {id=item.au_ID }) |
                    @Html.ActionLink("Delete", "Delete", new {id=item.au_ID }) 
            </td>
        </tr>
}
    </tbody>
</table>
